.container-fluid{
    margin: 0%;
}
*{
    margin: 3px;
    background-color: rgb(20, 18, 18);
    color: white;
}
/*para poner el borde en cada division de la pantalla*/
div#col{
    border: 5px solid rgb(175, 175, 175); 
    padding: 5px;
}
div#row{
    display: flex;
    align-items: center;
    text-align:center;
}

.inf_align, .inf_alignT{
    text-align: left;
}

.tit_pro_com{
    text-align: center;
    color: rgb(255, 230, 0);
}

#titulos_compra, #compra_productos{
    display: flex;
    align-items: center;
    text-align:center;   
    justify-content: space-around; 
}

/*Para quitarle el borde cuando se pase el mouse*/
div#row :hover{
    border: none;
}
/*Para poner el borde cuando se pase el mouse*/
div.informacion :hover{
    border: solid white;
}
.inf_alignT{
    color: orange;
}

/*Para poner diferentes colores a las letras del h1*/
.musical{
    font-family: Brush Script MT;
    font-size: 50px;
    color: mediumorchid;
}
.instruments{
    font-family: Brush Script MT;
    font-size: 50px;
    color: cornflowerblue;
}
.shop{
    font-family: Brush Script MT;
    font-size: 50px;
    color: rgba(76, 76, 250, 0.801);
}
/*Para centrar el titulo principal*/
.titulo_pagina{
    align-items: center;
    text-align: center;
}



